*.a
*.d
*.o

*.exe
*.dll
*.dylib
*.so
*.zip

.kdev_include_paths
.kdev4/
.DS_Store

bin/midisysfilter
bin/midisysfilter.exe
bin/midisysfilter-ladspa.*
bin/midisysfilter-dssi.*
bin/midisysfilter-vst.*
bin/midisysfilter.lv2/
